@import "tailwindcss";

@theme {
  --color-wildeman-blauw: #0056b3;
  --color-strak-wit: #FFFFFF;
  --color-natte-gips: #F0F2F5;
  --color-beton-donker: #333333;

  --font-montserrat: var(--font-montserrat);
  --font-open-sans: var(--font-open-sans);
}

:root {
  --background: var(--color-strak-wit);
  --foreground: var(--color-beton-donker);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}